.component-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .component-header {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .component-content {
    margin-top: 10px;
  }
  
  .component-content app-show-user-profile,
  .component-content app-seller-list,
  .component-content app-all-orders {
    margin-bottom: 10px;
  }
  